odoo-test-helper>=1.1.0
odoo14-addon-sale_order_line_display_stock_per_warehouse @ git+https://github.com/OCA/sale-workflow.git@refs/pull/3451/head#subdirectory=setup/sale_order_line_display_stock_per_warehouse
