odoo-addon-purchase_sale_inter_company@git+https://github.com/OCA/multi-company.git@refs/pull/942/head#subdirectory=purchase_sale_inter_company
odoo-addon-purchase_sale_stock_inter_company@git+https://github.com/OCA/multi-company.git@refs/pull/945/head#subdirectory=purchase_sale_stock_inter_company
